<!-- The floating menu spawned in the bottom right corner-->

<!-- Height should be NUM_BUTTONS * 58-->
<VerticalLayout
  allowDragging="true"
  color="black"
  height="232"
  id="legionFloatingMenu"
  offsetXY="-6 60"
  rectAlignment="LowerRight"
  spacing="6"
  width="52"
>
  <Button fontSize="10">Welcome</Button>
  <Button fontSize="10" interactable="false">Chess Clock</Button>
  <Button fontSize="10" interactable="false">Unit Sizes</Button>
  <Button fontSize="10" interactable="false">Import</Button>
</VerticalLayout>
